body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  
}

/*固定する背景*/
div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.box1{
  width: 100%;
  height: max-content;  
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
/*各背景の画像*/
.img-bg-01 {
  background-image: url('https://dl.dropbox.com/s/lb7lg14z7kszlkj/2016-10-26%2021%2039%2022.jpg?dl=0');
  margin-right: 50%;
    }
.img-bg-02 {
  background-image: url('https://dl.dropbox.com/s/73ogd4sfwh75h2c/IMG_1417.jpg?dl=0');
}
.img-bg-03 {
  background-image: url('https://dl.dropbox.com/s/5s6hc5zi2cilz58/s_IMG_0222.jpg?dl=0');
}
.img-bg-04 {
  background-image: url('https://dl.dropbox.com/s/g502g62sp7b2ty4/IMG_3551.jpg?dl=0');
}
.img-bg-05 {
  background-image: url('https://dl.dropbox.com/s/1710ifzvqqqagme/IMG_0002_2.jpg?dl=0');
}

/*スクロールするコンテンツ*/
.scrollbox1 {
  background-color: #111;
  margin-left: 50%;
}
.scrollbox2 {
  background-color: #222;
}
.scrollbox3 {
  background-color: #333;
}
.scrollbox4 {
  background-color: #444;
}
.scrollbox5 {
  background-color: #555;
}
.scrollbox6 {
  background-color: #666;
}
.box_text{
  font-size: large;
}